.full{
    margin:0;
    padding:0;
    background-image: url(first.png);
    background-size:cover;
    background-position:top;
    font-family: sans-serif;
    min-height: 820px;
}
.top{
    height: 80px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
    opacity: 0.8;
}
.avatar{
    width:100px;
    height:100px;
    border-radius: 50%;
    display: inline;
    float: left;
}
.top h1
{
    display: inline;
    color: white;
    padding-bottom: 20%;

}
.box{
    width:320px;
    height:280px;
    background: #000000;
    color:#fff;
    top:70%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    opacity: 80%;
    padding: 30px 30px;
    border-radius: 15%;
}
.box input{
    width: 100%;
    margin-bottom: 20px;
}
.box input[type="button"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #64e253;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.box input[type="button"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000000;
}

.AboutUS{
    text-align: center;
}

.AboutUS a{
    border: none;
    outline: none;
    height: 100px;
    background: #64e253;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width:100%;
    text-decoration: none;
    padding: 5px;

}