.loginPage {
  margin: 0;
  padding: 0;
  background-image: url(loginbg.jpg);
  background-size: cover;
  background-position: bottom;
  font-family: sans-serif;
  height: 820px;
}

.loginbox {
  width: 420px;
  height: 480px;
  background: #000000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  opacity: 95%;
  padding: 70px 30px;
  border-radius: 5%;
}
.avatar2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  opacity: 100%;
}
h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
}
.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}
.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.loginbox input[type="button"] {
  border: none;
  outline: none;
  height: 40px;
  background: #64e253;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="button"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000000;
}
.loginbox a {
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  color: darkgrey;
  font-style: bold;
}
.loginbox a:hover {
  color: #09ff15;
}
